/*===================
* BODY
* ==================*/
@font-face {
  font-family: 'cutive_monoregular';
  src: url('/public/fonts/cutivemono-regular-webfont.woff') format('woff'),
    url('/public/fonts/cutivemono-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2rem;
  line-height: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 15px;
}

h1 {
  padding-top: 15px;
}

.main-body {
  margin-top: 3rem;
}

.main-body, .card, .button {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}

a {
  color: var(--text-primary);
  transition: all .5s;
}

/*===================
* PROFILE & MENU
* ==================*/
.navbar-mobile {
  display: none;
}

aside {
  height: fit-content;
  position: sticky !important;
  top: 0;
}

.nav, aside {
  flex-direction: column;
}

.profile {
  margin: 10px;
  font-family: 'cutive_monoregular', monospace;
}

.profile h1 {
  padding-bottom: unset;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.profile a {
  text-decoration: none;
}

a:hover,
.navbar .active {
  color: #007070;
}

.switchButton {
  margin-top: 3rem;
}

/*===================
* MAIN CONTENT
* ==================*/

.section-home,
.section-about,
.section-projects,
.section-contact {
  padding-bottom: 100px;
  padding-right: 50px;
}

.introduction {
  padding-right: 3rem;
  padding-left: 0;
}

.about-img img {
  border-radius: 10px;
  width: 100%;
}

.card-header {
  border-bottom: solid 1px #28a745;
  background-color: unset;
}

i {
  padding-right: 10px;
}

.section-projects p,
.section-contact p {
  padding-bottom: 0;
}

.section-projects li {
  padding-left: 20px;
}

.section-projects img {
  width: 100%;
}

.section-contact p {
  padding-left: 20px;
}

/*===================
* MOBILE
* ==================*/
@media only screen and (max-width: 768px) {
  .mobile-view {
    flex-direction: column;
    margin-top: 0;
  }
  
  aside, .nav {
    flex-direction: row;
  }

  aside {
    justify-content: space-between;
    background-color: #7DA190;
    opacity: 1;
    z-index: 13;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }

  .profile img,
  .profile h3 {
    display: none;
  }

  .profile h1 {
    font-size: 2rem;
  }

  .switchButton {
    margin: 0;
  }

  .section-home,
  .section-about,
  .section-projects,
  .section-contact {
    padding-right: 0;
  }
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 1.5rem;
  }  
     
  .section-home {
    flex-direction: column;
  }

  .profile {
    margin: 0;
  }

  .profile h1 {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 1rem;
  } 
  
  .nav-link {
    padding: 0.5rem;
  }
}